@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    background:#6EC8CB;
    overflow: hidden;
}

.container{
    max-width: 440px;
    padding: 0 20px;
    margin: 170px auto;
}

.form1{
    width: 100%;
    background: white;
    border-radius: 5px;
}

.form1 .titulo{
    line-height: 90px;
    color: white;
    background: #489093;
    text-align: center;
    border-radius: 5px 5px 0 0;
    font-size: 25px;
    font-weight: 600;
}

.form1 form{
    padding: 30px 25px 25px 25px;
}

.form1 form .row{
    height: 45px;
    margin-bottom: 15px;
    position: relative;
}

.form1 form .row input{
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 60px;
    border-radius: 5px;
    border: 1px solid lightgray;
    font-size: 16px;
    transition: all 0.3s ease;
}

form .row input:focus{
    border-color: #7AABAE;
    box-shadow: inset 0px 0px 2px 2px rgba(26,188,156,0.25);
}

.form1 form .row i{
    position: absolute;
    width: 47px;
    height: 100%;
    color: white;
    font-size: 18px;
    background: #7AABAE;
    border: 1px solid #7AABAE;
    border-radius: 5px 0 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form1 form .pass{
    margin: -8px 0 20px 0;
}

.form1 form .pass a{
    color: #489093;
    font-size: 17px;
    text-decoration: none;
}

.form1 form .pass a:hover{
    text-decoration: underline;
}

.form1 form .button input{
    font-weight: 500;
    color: white;
    font-size: 20px;
    padding-left: 0px;
    background: #7AABAE;
    border: 1px solid #7AABAE;
    cursor: pointer;
}

form .button input:hover{
    background: #489093;
}

.form1 form .singup-link{
    text-align: center;
    margin-top: 20px;
    font-size: 17px;
}

.form1 form .singup-link a{
    color: #489093;
    text-decoration: none;
}

.form1 form .singup-link a:hover{
    text-decoration: underline;
}